{% extends 'base.html.twig' %}

{% block title %}Available movies{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link href=" https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/dropzone.min.css " rel="stylesheet">
{% endblock %}

{% block importmap %}
    {{ importmap(['modal-close-page-refresh', "app"]) }}
{% endblock %}


{% block body %}
  

    {{ include("partials/_search_input.html.twig", {
        action_route: "",
        query_value: app.request.get("q"),
        name: "q",
    }) }}
  
    <div class="grid-container">
     
      {% for movie in pager %}

        <div class="card" style="width: 18rem;">
            <div class="image-container">
                <img src="{{ asset(movie.posterPath, "uploads_url") }}" class="card-img-top" alt="{{ movie.title ~ "post-image" }}">
            </div>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text text-truncate">{{ movie.overview }}</p>
            
                        {{ include("partials/movie/_add_movie_screening_formats.html.twig") }}
                   
                        {% if (isScheduledShowtimeForMovie[movie.id] == false and movie.movieReferences is empty) %}
                            {{ include("partials/movie/_movie_update_form.html.twig") }}
                        {% endif %}

                        {{ include("partials/movie/_modal_ajax_reference_list.html.twig") }}
                
                </div>
                    
                   
                
        </div>
          
      {% endfor %}
    </div>



{{ pagerfanta(pager, "twitter_bootstrap5") }}


{% endblock %}
