{% extends 'base.html.twig' %}

{% block title %}Available movies{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href=" https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/dropzone.min.css " rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        {{ include("partials/_search_input.html.twig", {
            action_route: "",
            query_value: app.request.get("q"),
            name: "q",
            class: "mb-3"
        }) }}

        <a href="{{ path('app_movie_select_movies', {slug: app.current_route_parameters.slug}) }}" class="btn btn-primary mb-3">Add more movie</a>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-3">
            {% for movie in pager %}
                <div class="col">
                    <div class="card h-100">
                        <div class="image-container">
                            <img src="{{ asset(movie.posterPath, "uploads_url") }}" class="card-img-top" alt="{{ movie.title ~ "post-image" }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text text-truncate">{{ movie.overview }}</p>
                        </div>
                        <div class="card-footer">
                            {{ include("movie/_manage_movie_screening_formats.html.twig") }}

                            {% if (movie.id not in scheduledMovieIds and movie.movieReferences is empty) %}
                                {{ include("movie/_movie_update_form.html.twig") }}
                            {% endif %}

                            {{ include("movie/_modal_ajax_reference_list.html.twig") }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="overflow-auto">
            {{ pagerfanta(pager, "twitter_bootstrap5") }}
        </div>

    </div>
{% endblock %}
