{% extends 'base.html.twig' %}

{% block title %}Available movies{% endblock %}

{% block body %}
    {{ include("partials/_search_input.html.twig", {
        action_route: "",
        query_value: app.request.get("q"),
        name: "q",
    }) }}


    <div class="grid-container">
      {% for movie in pager %}
          <form action="{{path("app_movie_add_movie_formats", {
              slug:  app.current_route_parameters.slug, 
              id: movie.id,
              q: app.request.get("q"),
              page: app.request.get("page")  
          
          })}}" 
          method="post" 
          class="card"
          id="{{ "form" ~ loop.index }}"
          style="width: 18rem;">

          

                <input type="hidden" name="token" value="{{ csrf_token('add-movie-formats-token') }}">
                <input type="hidden" name="formId" value="{{ "form" ~ loop.index }}">

                <div class="image-container">
                    <img src="{{ asset(movie.posterPath, "uploads_url") }}" class="card-img-top" alt="{{ movie.title ~ "post-image" }}">
                </div>

                  <div class="card-body">
                      <h5 class="card-title">{{ movie.title }}</h5>
                      <p class="card-text text-truncate">{{ movie.overview }}</p>
                      <fieldset class="available-movies-screening-formats">
                          <legend class="msf-legend">Screening formats available in your cinema:</legend>
                            <div class="available-movies-screening-formats-input-fields">
                                

                                    <div data-controller="autocomplete"
                                        data-autocomplete-url-value="{{ path("app_cinema_cinema_screening_formats", {slug:  app.current_route_parameters.slug, movie: movie.id }) }}"
                                        data-autocomplete-movie-screening-formats-url-value="{{ path("app_movie_movie_screening_formats", {slug: app.current_route_parameters.slug, id: movie.id}) }}"
                                        data-autocomplete-delete-movie-screening-format-url-value="{{ path("app_movie_delete_movie_screening_format", {slug: app.current_route_parameters.slug}) }}"
                                        

                                        data-autocomplete-query-param-value="screeningFormat"
                                        data-autocomplete-movie-id-value="{{ movie.id }}"
                                        role="combobox">

                                    <ul data-autocomplete-target="movieScreeningFormats"></ul>
                                   
                                    
                                    <input type="text" data-autocomplete-target="input"/>

                                    <input type="hidden" name="chosen-screening-format" data-autocomplete-target="hidden"/>
                                    <ul class="list-group" data-autocomplete-target="results"></ul>
                                
                                    <ul data-autocomplete-target="selectedScreeningFormats"></ul>
                                </div>
                            </div>
                     
                      </fieldset>
                  

                  <div class="row">
                    <button  name="apply-formats" class="btn btn-info">Apply screening formats</button>
                    <a href="{{ path("app_movie_create", {
                        id: movie.id,
                        slug:  app.current_route_parameters.slug, 
                    }) }}" class="btn btn-secondary">Edit</a>
                  </div>
                </div>
      

                  
          </form>
      {% endfor %}

      
  </div>
  {{ pagerfanta(pager, "twitter_bootstrap5") }}


{% endblock %}
