{% extends 'base.html.twig' %}

{% block title %}Available movies{% endblock %}

{% block body %}
    {{ include("partials/_search_input.html.twig", {
        action_route: "",
        query_value: app.request.get("q"),
        name: "q",
    }) }}


    <div class="grid-container">
      {% for movie in pager %}
          <form action="{{path("app_movie_add_movie_formats", {
              slug:  app.current_route_parameters.slug, 
              id: movie.id,
              q: app.request.get("q"),
              page: app.request.get("page")  
          
          })}}" 
          method="post" 
          class="card"
          id="{{ "form" ~ loop.index }}"
          style="width: 18rem;">

          

                <input type="hidden" name="token" value="{{ csrf_token('add-movie-formats-token') }}">
                <input type="hidden" name="formId" value="{{ "form" ~ loop.index }}">

                <div class="image-container">
                    <img src="{{ asset(movie.posterPath, "uploads_url") }}" class="card-img-top" alt="{{ movie.title ~ "post-image" }}">
                </div>

                  <div class="card-body">
                      <h5 class="card-title">{{ movie.title }}</h5>
                      <p class="card-text text-truncate">{{ movie.overview }}</p>


                      <fieldset class="available-movies-screening-formats">
                          <legend class="msf-legend">Screening formats available in your cinema:</legend>
                            <div class="available-movies-screening-formats-input-fields">
                                
                                    <div data-controller="movie-screening-format-ajaxes"
                                        data-movie-screening-format-ajaxes-url-value="{{ path("app_movie_screening_format_cinema_screening_formats", {slug:  app.current_route_parameters.slug }) }}"
                                       
                                        data-movie-screening-format-ajaxes-screening-formats-for-movie-url-value="{{ path("app_movie_screening_format_for_movie", {id: movie.id}) }}"
                                        
                                        data-movie-screening-format-ajaxes-movie-screening-format-delete-url-value="{{ path("app_movie_screening_format_delete") }}"
                                        
                                        data-movie-screening-format-ajaxes-movie-screening-format-create-url-value="{{ path("app_movie_screening_format_create", {movieId: movie.id}) }}"
                                        

                                        data-movie-screening-format-ajaxes-query-param-value="screeningFormat"
                                        role="combobox">

                                        <ul data-movie-screening-format-ajaxes-target="movieScreeningFormats"></ul>
                                    
                                        
                                        <input type="text" data-movie-screening-format-ajaxes-target="input"/>

                                        <input type="hidden" name="chosen-screening-format" data-movie-screening-format-ajaxes-target="hidden"/>
                                        <ul class="list-group" data-movie-screening-format-ajaxes-target="results"></ul>
                                    
                                        <ul data-movie-screening-format-ajaxes-target="screeningFormatsForMovie"></ul>
                                    </div>
                                    
                                    <div class="row">
                                        <a href="{{ path("app_movie_create", {
                                            id: movie.id,
                                            slug:  app.current_route_parameters.slug, 
                                        }) }}" class="btn btn-primary">Edit</a>
                                    </div>


                                    </div>
                            </div>
                     
                      </fieldset>
                  


               
      

                  
          </form>
      {% endfor %}

      
  </div>
  {{ pagerfanta(pager, "twitter_bootstrap5") }}


{% endblock %}
