<div class="col-12">
    <p>{{ seat.seat.seatPosition }}</p>
    <form method="post" action="{{path("app_screening_room_seat_update", {
        id: seat.id,
        slug: cinema.name
        })}}">

        <input type="hidden" name="cinemaSlug" value="{{cinema.slug}}" >
        <input type="hidden" name="screeningRoomSlug" value="{{room.slug}}">
        <input type="hidden" name="token" value="{{ csrf_token('edit-seat-' ~ seat.id) }}">

        <select name="seatType" id="seatType">
            {% for seatType in enum('App\\Enum\\ScreeningRoomSeatType').cases %}
                <option
                    {{ seatType.value == seat.type.value ? "selected" : "" }}
                    for="seatType"
                    value="{{ seatType.value }}">{{ seatType.value }}
                </option>
            {% endfor %}
        </select>

        <label class="available" for="{{ "seatStatus" ~ seat.id }}">
            <input 
                class="seat-status-checkbox"
                id="{{ "seatStatus" ~ seat.id }}"
                name="seatStatus" 
                type="checkbox"
                {{ seat.status == "available" ? "checked" : "" }}
                >
        </label>

        <button class="btn btn-sm btn-primary">Apply</button>
    </form>
</div>