{% extends 'base.html.twig' %}

{% block title %}Cinema {{ cinema.slug }} - showtimes{% endblock %}

{% block body %}

<form>
    <input type="date" name="date" id="date" value="{{ date }}">
    <button type="submit">Search</button>
</form>
    <div class="row">
    {% for movie in displayMovies %}
    
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ movie.posterPath }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text text-truncate">{{ movie.overview }}</p>
            </div>
                <ul class="list-group list-group-flush upcoming-showtimes-list">
                    {% for showtime  in todayUpcomingShowtimes[movie.id] %}
                        <li class="list-group-item">
                            <div class="details">
                                <p>Hours: {{ showtime.startsAt|date("H:i") }} -  {{ showtime.endsAt|date("H:i") }} </p>
                                <p>Format: {{ showtime.movieScreeningFormat.screeningFormat.displayScreeningFormat }}</p>
                                <p>Room: {{ showtime.screeningRoom.name }}</p>
                                <a class="btn btn-sm btn-primary" href="{{ path("app_reservation_reserve_showtime", {
                                    showtime_slug: showtime.slug, 
                                    slug: showtime.cinema.slug
                                }) }}">Make reservation</a>
                              
                            </div>
                        </li>

                    {% endfor %}
       
                </ul>
         
                <a href="{{ path('app_main_cinema_showtime_details', {
                    slug: cinema.slug,
                    movie_slug: movie.slug
            }) }}" class="card-link">More premieres</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}