{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }} - {{ cinema.name }} Showtimes{% endblock %}

{% block body %}
<div class="container my-5">
  
   {{ include('showtime/movie_details_card.html.twig') }}

    
    <div class="card border-0 shadow-sm">
        <div class="card-header bg-light py-3">
            <h2 class="fs-4 mb-0"><i class="bi bi-ticket-perforated me-2"></i>Available Showtimes</h2>
        </div>
        <div class="card-body">
           
            <ul class="nav nav-pills mb-4" id="showtimeTabs" role="tablist">
                {% for date, showtimes in showtimesGroupedByDate %}
                    {{ include('showtime/showtime_navigation_tab.html.twig') }}
                {% endfor %}
            </ul>
            
           
            <div class="tab-content" id="showtimeTabContent">
                {% for date, showtimes in showtimesGroupedByDate %}
                    {{ include('showtime/showtime_tab.html.twig') }}
                {% else %}
                    <div class="alert alert-info">
                        <i class="bi bi-info-circle me-2"></i> No showtimes available for this movie in the coming week.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}