<form class="seat-form" method="post" action="{{path("app_reservation_add_to_cart", {
    slug: cinema.slug,
    showtime_slug: showtime.slug
    })}}">
    <input name="reservation_seat_id" value="{{ seat.id }}" type="hidden">
    {% set isLocked = seat.statusLockedExpiresAt|date("Y-m-d H:i:s") > "now"|date("Y-m-d H:i:s") %}
    {% set isAvailable = seat.status == "available" and isLocked == false %}
       

    <button                           
        name="{{ seat.id in app.session.get('cart', []).(showtime.id)|default([]) ? "cancel" : "reserve" }}"
        value="true"
        class="seat
        {{ seat.id in app.session.get('cart', []).(showtime.id)|default([]) ? "selected" : seat.status }}
        "
        style="border: 5px solid {{ seat.priceTierColor }}"
        {{ isAvailable ? "" : "disabled" }} 
        >
        <span class="seat-position">{{seat.seat.seat.seatPosition}}</span>
    </button>

</form>