{% extends 'base.html.twig' %}

{% block title %}Make reservation for {{ showtime.movieScreeningFormat.displayMovieScreeningFormat }}{% endblock %}

{% block body %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.submit) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
        <h1>{{ showtime.movieScreeningFormat.displayMovieScreeningFormat }}</h1>
        <p>Date: {{ showtime.startsAt|date("D, M Y") }} </p>
        <p>{{ showtime.startsAt|date("h:i") }} - {{ showtime.endsAt|date("h:i") }}</p>
            
        {% for reservationSeatRow in groupedReservationSeats %}
            <div class="row">
                <h1 class="col-1">{{ loop.index }}</h1>
                <div class="col-1 d-flex gap-2">
                    {% for seat in reservationSeatRow  %}        
                        {{ include("partials/_reservation_seat.html.twig") }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
{% endblock %}
