{% extends 'base.html.twig' %}

{% block title %}Create Screening Room{% endblock %}

{% block body %}


<div {{ stimulus_controller('dynamic-seat-rows') }}
     data-dynamic-seat-rows-prototype-value="{{ form_widget(form.seatsPerRow.vars.prototype)|e('html_attr') }}"
     data-dynamic-seat-rows-index-value="{{ form.seatsPerRow|length }}"
     data-dynamic-seat-rows-room-max-capacity-url-value="{{ path("app_screening_room_create", {
     slug: cinema_slug}) }}"
     >
   
    {{ form_start(form) }}
 
        {{ form_errors(form) }}
        {{ form_row(form.name) }}

        {{ form_row(form.maxRows, {
            "attr": {
                "data-dynamic-seat-rows-target": "rows",
            }
        }) }}

        {{ form_row(form.maxSeatsPerRow, {
            "attr": {
                "data-dynamic-seat-rows-target": "seatsInRow",
                "data-action": "blur->dynamic-seat-rows#renderSeatsInRow"
            }
        }) }}

        <button type="button" class="btn btn-success" {{ stimulus_action("dynamic-seat-rows", "renderRows") }}>Generate Rows</button>

       
        <div {{ stimulus_target('dynamic-seat-rows', 'collectionHolder') }}>
            {% for seatRow in form.seatsPerRow %}
                {{ form_row(seatRow, {'label': 'Row ' ~ loop.index}) }}
            {% endfor %}
        </div>

        {{ form_row(form.screeningRoomSetup) }}
        {{ form_row(form.maintenanceTimeInMinutes) }}
        {{ form_row(form.create) }}


    {{ form_end(form) }}

</div>





{% endblock %}