{% extends 'base.html.twig' %}

{% block title %}Created Rooms{% endblock %}

{% block body %}

    {% if rooms is empty %}
        <p>Looks like you haven't created rooms yet, let's fix it :)</p>
        <a href="{{path("app_screening_rooms_create", {slug: cinema.slug})}}">Click to start creating</a>
    {% endif %}
    

    {% for room in rooms %}
      
        <p>Room name: {{ room.name }}</p>
        <p>Capacity: {{ room.screeningRoomSeats|length }}</p>
        
        <a class="d-block" href="{{path("app_screening_rooms_edit",
            {screening_room_slug: room.slug,
                slug: cinema.slug}
            )}}">
           Edit Seats
       </a>
       <a class="d-block" href="{{path("app_showtimes_create",
            {
                screening_room_slug: room.slug,
                slug: cinema.slug
            }
       )}}">Create showtime</a>
    {% endfor %}

{% endblock %}
