{% extends 'base.html.twig' %}

{% block title %}Cinemas{% endblock %}

{% block body %}

    {% for message in app.flashes("success") %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}


    {% for cinema in cinemas %}
        <div class="card">
            <h2>{{ cinema.name }}</h2>
            <p>Number of seats: {{ cinema.cinemaSeats|length }}</p>
            <a href="{{path("app_cinema_edit", {slug: cinema.slug})}}" class="btn btn-primary">
               Edit
   
            </a>
            <a class="btn btn-secondary" href="{{path("app_screening_rooms_create", {slug: cinema.slug})}}">
                Create screening room
            </a>
            <a class="btn btn-outline-secondary" href="{{path("app_screening_rooms", {slug: cinema.slug})}}">Show cinema's screening rooms</a>
        </div>
        
    {% endfor %}

{% endblock %}
