{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{# {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/babdevpagerfanta/css/pagerfanta.css') }}">
{% endblock %} #}

{% block body %}
        {{ include("partials/_search_input.html.twig", {
            action_route: path("app_cinema_add_movies", {
                slug: cinema.slug,
            }),
            query_value: app.request.query.get('searchTerm') ?? null
        }) }}

        {% for movie in pager %}
            <div class="card">
                <h1>{{ movie.title }}</h1>
                <form id="form-{{ movie.id }}" method="post" action="{{path("app_cinema_update_movie_screening_format", {
                        slug: cinema.name,
                        page: app.request.query.get('page') ?? 1,
                        searchTerm: app.request.query.get("searchTerm") ?? null
                    })}}">

                    <input name="movieId" value="{{ movie.id }}" type="hidden">

                    <fieldset>
                        <legend class="msf-legend">Screening formats available in your cinema:</legend>
                        {% for screeningFormat in screeningFormats %}
                            <label>
                                <input 
                                    name="screeningFormats[]" 
                                    type="checkbox" 
                                    value="{{ screeningFormat.id }}"
                                    {{ screeningFormat.id in screeningFormatIdsForMovie[movie.id] ? "checked" : null  }}
                                >
                                {{ screeningFormat.displayScreeningFormat }} 
                            </label>
                        {% endfor %}
                    </fieldset>
                   
                    <button class="btn btn-success" name="form-{{ movie.id }}">Save screening formats</button>
                </form>
            </div>
    {% endfor %}

    {{ pagerfanta(pager, "twitter_bootstrap5") }}

  

{% endblock %}
