
<form>
    <select name="screeningRoomName">
        <option value="">All rooms</option>
        {% for roomName in availableRoomNames %}
            <option 
                {{ roomName == app.request.get("screeningRoomName") ? "selected" : null }}
                value="{{ roomName }}">{{ roomName }}</option>
        {% endfor %}
    </select>

    <label>
        Start time:
        <input
        id="showtimeStartTime"
        type="date"
        name="showtimeStartTime"
        value="{{ app.request.get("showtimeStartTime") }}"
        />
    </label>

    <label>
        End time:
        <input 
            id="showtimeEndTime"
            type="date" 
            name="showtimeEndTime"
            value="{{ app.request.get("showtimeEndTime") }}"
            />
    </label>
      

    <input type="text" name="movieTitle" value="{{ app.request.get("movieTitle") }}">
    <button>Apply filters</button>
</form>