<div class="row g-2 align-items-center">
    <div class="col-4">
        <a class="btn btn-secondary w-100" 
        href="{{ path("app_showtime_create",
        {
            slug: showtime.screeningRoom.cinema.slug,
            screening_room_slug: showtime.screeningRoom.slug,
            showtime_id: showtime.id,
            startsAt: showtime.startsAt|date("Y-m-d")
        }) }}">Edit</a>
    </div>
    
    <div class="col-4">
        <form method="POST" 
            action="{{ path("app_showtime_publish", {
                slug: showtime.screeningRoom.cinema.slug,
                showtime_id: showtime.id}) 
            }}">
            <input type="hidden" name="token" value="{{ csrf_token('publish_showtime') }}">
            <input type="hidden" name="publish_action" value="1">

            {{ include('showtime/_showtime_filtering_parameters_request_payload.html.twig') }}

            <button class="btn btn-success w-100">Publish</button>
        </form>
    </div>
    
    <div class="col-4">
        {{ include("showtime/_showtime_delete_modal.html.twig") }}
    </div>
</div>