<button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete 
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Showtime</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete  <strong>{{ showtime.movieScreeningFormat.displayMovieScreeningFormat }}</strong>?</p>
          <p>Scheduled for <em>{{ showtime.startsAt|date("d/m/Y H:i") }}</em> in <em>{{ showtime.screeningRoom.name }}</em> at <strong>{{ showtime.cinema.name }}</strong></p>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {{ include("showtime/_showtime_delete_form.html.twig") }}
        </div>
      </div>
    </div>
  </div>
  