{% extends "base.html.twig" %}

{% block body %}

<div {{ stimulus_controller("showtime-axis", {
    showtimesUrl: path("app_showtime_scheduled_showtimes", {
        slug: app.current_route_parameters.slug,
        screening_room_slug: app.current_route_parameters.screening_room_slug
    }),
    showtimeEditUrl: path("app_showtime_create", {
        slug: app.current_route_parameters.slug,
        screening_room_slug: app.current_route_parameters.screening_room_slug
    }),
    showtimeStartsAt: startsAt
}) }}>
    <h2>Pick movie for the showtime in room {{ screeningRoom.name }}</h2>
    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.startsAt, {
                    "attr": {
                        "data-action": "input->showtime-axis#pickDate",
                    }
                }) }}

            {{ form_end(form) }}
        </div>
        <div class="col-6">
            <div {{ stimulus_target("showtime-axis", "currentDate") }}></div>
                {{ include("partials/showtime/_showtime_axis.html.twig", {
                    controllerName: "showtime-axis",
                    targetName: "dayAxis",
                    className: "day-axis"
                }) }}
        </div>
     
    </div>
</div>
{% endblock %}