{% extends "base.html.twig" %}

{% block body %}

<div {{ stimulus_controller("ajax-showtime-list", {
    startsAt: app.request.get("startsAt") ?? "now"|date("Y-m-d"),
    showtimeListUrl: path("app_showtime", {slug: screeningRoom.cinema.slug})
}) }}>
    <h2>Pick movie for the showtime in room {{ screeningRoom.name }}</h2>
    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}

                {{ form_errors(form) }}

                {{ form_row(form.startsAt, {
                    "attr": {
                        "data-ajax-showtime-list-target": "datePicker",
                        "data-action": "change->ajax-showtime-list#pickDate"
                    }
                }) }}


            {{ form_end(form) }}
        </div>
        <div class="col-6">
                <div {{ stimulus_target("ajax_showtime_list", "showtimeList") }}></div>
        </div>
     
    </div>
</div>
{% endblock %}