{% extends "base.html.twig" %}

{% block body %}
    <div class="container d-grid gap-2">
        {% for showtime in showtimes %}
            <div class="card">
                <h2>{{ showtime.movieFormat.movie.title }}</h2>
                <p>Format:
                     {{ showtime.movieFormat.movieType.audioVersion }}
                     {{ showtime.movieFormat.movieType.visualVersion }}
                </p>
                <p>Screening room: {{ showtime.screeningRoom.name }}</p>
                <p>Start time: {{ showtime.startTime|date("F jS \\a\\t g:ia")  }}</p>
                <p>End time: {{ showtime.endTime|date("F jS \\a\\t g:ia")  }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}