{% extends "base.html.twig" %}

{% block body %}

    {{ include("partials/showtime/_showtime_filtering_form.html.twig") }}

    <div class="container d-grid gap-2">
        {% for showtime in showtimes %}
            <div class="card">
                <h2>{{ showtime.movieScreeningFormat.movie.title }}</h2>
                <p>Format:
                     {{ showtime.movieScreeningFormat.displayMovieScreeningFormat }}
                </p>
                <p>Screening room: {{ showtime.screeningRoom.name }}</p>
                <p>Start time: {{ showtime.startsAt|date("F jS \\a\\t g:ia")  }}</p>
                <p>End time: {{ showtime.endsAt|date("F jS \\a\\t g:ia")  }}</p>
                <p>Status: {{ showtime.published ? "Published" : "Unpublished"}}</p>

                {% if not showtime.published %}
                    <a class="btn btn-secondary" 
                        href="{{ path("app_showtime_create",
                        {
                            slug: showtime.screeningRoom.cinema.slug,
                            screening_room_slug: showtime.screeningRoom.slug,
                            showtime_id: showtime.id,
                            startsAt: showtime.startsAt|date("Y-m-d")
                        }) }}">Edit</a>
                {% endif %}
                
                {% if not showtime.published %}
                    <form method="POST" action="{{ path("app_showtime_publish", {
                        slug: showtime.screeningRoom.cinema.slug,
                        showtime_id: showtime.id}) 
                    }}">
                        <input type="hidden" name="token" value="{{ csrf_token('publish_showtime') }}">
                        <input type="hidden" name="published" value="1">
                        <button class="btn btn-success">Publish Show</button>
                    </form>
                {% endif %}
                
                {% if showtime.published %}
                    <form method="POST" action="{{ path("app_showtime_publish", {
                        slug: showtime.screeningRoom.cinema.slug,
                        showtime_id: showtime.id}) 
                    }}">
                        <input type="hidden" name="token" value="{{ csrf_token('publish_showtime') }}">
                        <input type="hidden" name="published" value="0">
                        <button class="btn btn-success">Unpublish Show</button>
                    </form>
                {% endif %}
                
              
            </div>
        {% endfor %}
    </div>

{% endblock %}