<li class="nav-item" role="presentation">
    {% set dateObj = date|date_modify('+0 day') %}
    {% set isActive = loop.first %}
    <button class="nav-link {{ isActive ? 'active' : '' }} me-2 mb-2" 
            id="date-{{ date }}-tab" 
            data-bs-toggle="pill" 
            data-bs-target="#date-{{ date }}" 
            type="button" 
            role="tab" 
            aria-controls="date-{{ date }}" 
            aria-selected="{{ isActive ? 'true' : 'false' }}">
        <div class="d-flex flex-column align-items-center">
            <small class="text-uppercase">{{ dateObj|date('D') }}</small>
            <span class="fs-5">{{ dateObj|date('d') }}</span>
            <small>{{ dateObj|date('M') }}</small>
        </div>
    </button>
</li>